*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30469.jpg?t=st=1740118385~exp=1740121985~hmac=1929cd3a9f070a1af5726fc333506610e9b109f7f452dc768ab4714cabebdede&w=740);
    
}

body h1{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}


.card{
    width: 90%;
    max-width: 480px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 80px auto 0;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
    margin-top: 33px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 5px 5px 5px #444;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: 0 10px 20px rgba(32, 10, 10, 0.3); /* Adds a shadow effect */
}

@media (max-width: 768px) {
    .card {
        width: 95%; /* Increase width for smaller screens */
        padding: 30px 20px; /* Reduce padding */
        margin-top: 20px; /* Adjust margin */
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%; /* Full width on very small screens */
        padding: 25px 15px; /* Reduce padding more */
        margin-top: 15px;
    }
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    transition: background 0.5s ease, box-shadow 0.5s ease;
}

.search input:hover {
    background: #bad8d2; /* Slightly darker background on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background 0.5s ease, box-shadow 0.5s ease;
}

.search button img {
    width: 16px;
}

.search button  :hover {
    background: #bad8d2; /* Slightly darker background on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;


}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.error{
    text-align: left;
    margin-left: 30px;
    font-size: 14px;
    margin-top: 10px;
}